@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&family=Sora:wght@100;200;300;400;500;600;700&display=swap');

.frame-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dd0000;
  width: 100%;
  height: 30px;
}

.frame-1 > span{
color: #fff;
font-family: "Sora";
text-transform: uppercase;
font-weight: 200;
}

.frame-1 > span > b{
  font-weight: 600;
}

.frame-2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 5rem;
  background: linear-gradient( 111.49deg, rgba(255, 255, 255, 0.31) 0.5544714163988829%, rgba(255, 255, 255, 0.14) 96.875%, rgba(255, 255, 255, 0.31) 100% );
  border-bottom: solid 2px #000;

}

.frame-2 > img {
  width: 10rem;
}


.frame-2-1{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-left: 20rem;  
}

.frame-2-1 > h2,a{
  font-family: "Sora";
  text-decoration: none;
  text-transform: uppercase;
}

.frame-2-bttn{
  background-color: #62AE00;
  color: #fff;
  font-family: "Sora";
  padding: 3px 5px 3px 5px;
  border: none;
  border-radius: 15px;
  width: 186px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  margin-right: 15rem;
}

.frame-2-bttn:hover{
  border-radius: 15px;
  border: 4px solid #caf08eb8;
}