@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&family=Sora:wght@100;200;300;400;500;600;700&display=swap');

.frame-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dd0000;
  width: 100%;
  height: 40px;
  position: absolute;
  overflow: hidden;
}

.frame-1 > span{
color: #fff;
font-family: "Sora";
text-transform: uppercase;
font-weight: 200;
}

.frame-1 > span > b{
  font-weight: 600;
}

.frame-2{
  width: 100%;
  height: 10rem;
  background: #C41CA80D;
  border-bottom: solid 2px #000;
}

