@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&family=Sora:wght@100;200;300;400;500;600;700&display=swap');

*{
  box-sizing: border-box;
}

html{
  background-color: rgba(247, 236, 246, 0.471);
  background-image: url(https://i.postimg.cc/BbGM1krz/BG-ECOM-TRADE.png);
  background-size: cover;
}



.frame-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dd0000;
  width: 100%;
  height: 30px;
  position: sticky;
  z-index: 1000;
}

.frame-1 > span{
color: #fff;
font-family: "Sora";
text-transform: uppercase;
font-weight: 200;
}

.frame-1 > span > b{
  font-weight: 600;
}

.frame-2{

  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 5rem;
  background: linear-gradient( 111.49deg, rgba(255, 255, 255, 0.31) 0.5544714163988829%, rgba(255, 255, 255, 0.14) 96.875%, rgba(255, 255, 255, 0.31) 100% );
  backdrop-filter: blur(10px);
  border-bottom: solid 2px #e3e3e3a6;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Certifique-se de que o menu apareça acima de outros elementos */
}


.frame-2 > img {
  width: 10rem;
}


.frame-2-1{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-left: 20rem;  
}

.frame-2-1 > h2,a{
  font-family: "Sora";
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  transition:ease-out 500ms;
}

.frame-2-1 > h2,a:hover{
  font-weight: 600;
  text-decoration: underline;
  transition: ease-out 500ms;
}

.frame-2-bttn{
  background-color: #62AE00;
  color: #fff;
  font-family: "Sora";
  padding: 3px 5px 3px 5px;
  border: none;
  border-radius: 15px;
  width: 186px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  margin-right: 15rem;
}



.frame-2-bttn:hover{
  border-radius: 15px;
  border: 4px solid #caf08eb8;
}

.frame-3{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 200px ;
}

.frame-3 > h1{
font-family: "Sora";
color: #000;
font-family: "Sora";
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.frame-3-1{
  display: flex;
  flex-direction: row;
  gap: 15px;
  height: 270px;
}

.frame-3-1 > button{
  display: flex;
  flex-direction:column;
  justify-content: space-evenly;
  align-items: center;
  width: 225px;
  height: 240px;
  background: linear-gradient(139deg, #E142C6 0%, #AB1892 100%);
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 0px 30px;
  transition: 300ms;
  transform: translateY(0);
  cursor: pointer;
}


.frame-3-1 > button:hover{
transition: 300ms;
height: 270px;
transform: translateY(-0px);
}

.frame-3-1 > button > p{
  text-align: center;
  font-family: "Sora";
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
}

.frame-4{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.frame-4-1{
  width: 948px;
  height: 110;
  text-align: center;
  border: 2px solid #e3e3e3a6;
  border-radius: 12px ;
  background-color: rgba(255, 255, 255, 0.363);
}

.frame-4 .frame-4-1 > h2{
  font-family:"Sora" ;
  font-size: 30px;
}

.frame-5{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.frame-5-1 > h2{
  font-size: 42px;
  font-family: "Sora";
  text-align: center;
}

.frame-6{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.frame-6-1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
  height: 270px;
}

.frame-6-1 > button{
  display: flex;
  flex-direction:column;
  justify-content: space-evenly;
  align-items: center;
  width: 225px;
  height: 240px;
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 0px 30px;
  transition: 300ms;
  transform: translateY(0);
  cursor: pointer;
}

.frame-6-1 > button:hover{
  transition: 300ms;
  height: 270px;
  transform: translateY(-0px);
  border: solid 5px #fff;
  font-weight: 600;
}



.frame-6-1 > button > p{
  text-align: center;
  font-size: 20px;
  font-family: "Sora";
  font-weight: 200;
  line-height: normal;
  letter-spacing: -1px;
}

.frame-6-1 > button:hover p{
  font-weight: 600;
}

.frame-6-1 > button:hover svg{
  transform: scale(1.2);
}

.frame-7{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  flex-direction: column;
  gap: 100px;
}

.frame-7-1{
  width: 765px;
  text-align: center;  
}

.frame-7-1 > h1{
font-family: "Sora";
font-weight: 300;
line-height: normal;
font-size: 57px;
}

.frame-8{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  flex-direction: column;
  gap: 80px;
}

.frame-8-1{
  width: 820px;
  text-align: center;
}

.frame-8-1 > h2{
  font-family: "Sora";
  font-size: 42px;
  font-weight: 300;
  line-height: normal;
}

.frame-9 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  flex-direction: column;
}

.frame-9-1{
 width: 820px;
 text-align: center;
}

.frame-9-1 > h2{
  font-family: "Sora";
  font-size: 42px;
  font-weight: 300;
  line-height: normal;
  position: relative;
  z-index: 10;
}

.frame-9-2{
  margin-top: 55px;
}

.frame-9-2-1 > img{
  transform: scale(1.08);
}

.frame-10{
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame-11{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.frame-11-1{
  width: 820px;
  text-align: center;
}

.frame-11-1 > h2{
  font-family: "Sora";
  font-size: 42px;
  font-weight: 300;
  line-height: normal;
  position: relative;
 
}

.frame-12{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.frame-12-1 > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.frame-12-1-1 > input{
  width: 742px;
  height: 60px;
  border-radius: 30px;
  border: solid 1px #C120A6;
  padding: 20px;
  font-size: 20px;
  font-family: "Sora";
}

.frame-12-1-1 >input::placeholder{
  color: rgba(0, 0, 0, 0.24);
  font-family: Sora;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1px;
  outline: none;
}

.frame-12-1-1 > input:focus-visible{
  outline: none;
}

.frame-12-1-1 > button{
  width: 742px;
  height: 60px;
  border-radius: 30px;
  background-color: #C120A6;
  border: none;
  color: #fff;
  padding: 20px;
  font-size: 20px;
  font-family: "Sora";
  font-weight: 600;
  text-transform: uppercase;
}

.frame-12-1-1 > button:hover{
  background-color: #6A0E5B;
}

footer{
  margin-top: 100px;
  height: 100px;
  border-top: solid 6px;
  border-image: linear-gradient(to right,#0A7F8C,#C120A6) 1 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-frame{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-frame > h5 {
  font-family: "Sora";
  font-weight: 500;
}


/* Form rd-stations */

#rd-column-lm6tp6sw{
  display: none !important;
}

#rd-section-lm6tp6su {
  background-color: inherit !important;
  border-bottom-style: none;
  border-color: #000000;
  border-left-style: none;
  border-radius: 0px;
  border-right-style: none;
  border-top-style: none;
  border-width: 1px;
}

#rd-row-lm6tp6sv .bricks--column > div {
  min-height: 50px;
  display: none !important;
}

#rd-form-lm6tp6t1 .bricks-form__label {
  color: #969696;
  display: inline-block;
  font-family: "Sora" !important;
  font-size: 20px !important;
  font-style: normal;
  font-weight: normal;
  text-align: left;
}

#rd-form-lm6tp6t1 .bricks-form__input:not(textarea) {
  height: 60px !important;
}


#rd-column-lm6tp6t0 > div {
  background-color: inherit !important;
  justify-content: center;
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
}


#rd-form-lm6tp6t1 .bricks-form__input {
  color: #555555;
  font-family: "Sora" !important;
  font-size: 18px;
  background-color: #ffffff;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-top-style: solid;
  border-color: #C120A6 !important;
  border-radius: 30px !important;
  border-width: 1px;
}

#rd-form-lm6tp6t1 .bricks-form__input:focus-visible{
  outline :none  !important;   /*remove o outline depois que clicado */
}


#rd-button-lm6tp6t4 {
  align-self: center;
  background-color: #C120A6 !important;
  border-bottom-style: solid;
  border-color: #C120A6 !important;
  border-left-style: solid;
  border-radius: 30px !important;
  border-right-style: solid;
  border-top-style: solid;
  border-width: 1px;
  box-shadow: 0px 0px 0px 0px #cccccc;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  height: 58px;
  justify-content: center;
  line-height: 1.42857;
  margin-bottom: 0px;
  margin-top: 18px;
  max-width: 558px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}


#rd-button-lm6tp6t4:hover{
  background: #6A0E5B !important ;/*cor do botão quando passar mouse*/
}

@media screen and (min-width: 920px) {
  .frame-2-mobilebttn{
    display: none;
  }
}


